<userportal-progress-loader [showLoader]="loading">
<mat-drawer-container class="w-100" [ngStyle]="{'height.vh': 100}">
  <mat-drawer mode="side" opened>
    <div>
      <div><button mat-button routerLink="/postlogin" class="side-nav-link" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" id="homeBtn"><mat-icon svgIcon="home"></mat-icon><p>Home</p></button></div>
      <div><button mat-button routerLink="/postlogin/userlist" class="side-nav-link" routerLinkActive="active-link" (click)="handleClick()" id="userlistBtn"><mat-icon svgIcon="viewlist"></mat-icon><p>Userlist</p></button></div>
      <div><button mat-button (click)="userLogout()"><mat-icon svgIcon="logout" id="logoutBtn">Logout</mat-icon><p>Logout</p></button></div>
    </div>
  </mat-drawer>
  <mat-drawer-content class="d-flex justify-content-center">
    <div class="d-flex flex-column">
      <div class="text-center mt-5" id="welcomeMssg"><h3>Welcome to User Portal</h3></div>

      <div class="mt-3">
          <router-outlet></router-outlet>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
</userportal-progress-loader>

